.item-details{
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 10px;
}
.item-details .img-inner{
    width: 40%; 
    
}

.item-details img{
    width: 100%;
    border-radius: 0.25rem;
}