.person-details{
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 10px;
}
.person-details .img-inner{
    width: 40%; 
    
}

.person-details img{
    width: 100%;
    border-radius: 0.25rem;
}